name: Python application

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: clone rook
      run: |
        git clone --depth 1 https://github.com/rook/rook.git
    - name: Run generate.sh
      run: |
        ./generate.sh $PWD/rook
